@media screen and (max-width: 1124px) and (min-width: 768px) {
  .navbar-links {
    display: none;
  }
  .home {
    background-size: cover;
    background-position: center;
  }
  .home-cap {
    top: 40%;
    left: 30%;
  }
  .home h3 {
    font-size: 24px;
  }
  .home h1 {
    font-size: 70px;
  }
  .home h4 {
    font-size: 26px;
  }
  .list-bar {
    display: block;
  }
  .about .contianr .about-img {
    width: 50%;
    border: none;
  }
  .about .contianr .about-img img {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  .about .contianr .about-cap {
    width: 50%;
    padding: 0 20px;
  }
  .about .contianr .about-cap .information1 {
    width: 43%;
    vertical-align: top;
    font-size: 14px;
  }
  .about .contianr .about-cap .information2 {
    width: 53%;
    font-size: 14px;
    padding: 0;
  }
  .about {
    margin: 0;
  }
  .services .contianr .items {
    width: 50%;
  }
  .portfolio .contianr .portfolio-img {
    width: 50%;
  }
  .blog .contianr {
    width: 100%;
  }
  .contact-us .contianr .form {
    width: 100%;
    margin: 0 10px;
  }
}
@media screen and (max-width: 1124px) and (min-width: 768px) {
  .navbar-links {
    display: none;
  }
  .home {
    background-size: cover;
    background-position: center;
  }
  .home-cap {
    top: 40%;
    left: 20%;
  }
  .home h3 {
    font-size: 56px;
    font-weight: 500;
  }
  .home h1 {
    font-size: 94px;
  }
  .home h4 {
    width: 98%;
  }
  .home .h4 {
    font-size: 40px;
    font-weight: 400;
  }
  .navbar {
    width: 95%;
    padding-top: 20px;
    box-sizing: content-box;
  }
  .navbar .logo a {
    font-size: 66px;
  }
  .animation {
    font-size: 40px;
    font-weight: 400;
  }
  .list-bar {
    display: block;
  }
  .list-bar i {
    font-size: 76;
  }
  .about .contianr .about-img {
    width: 100%;
    border: none;
  }
  .about .contianr .about-img img {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  .about .contianr .about-cap {
    width: 100%;
    padding: 0 20px;
  }
  .about .contianr .about-cap .information1 {
    display: block;
    padding: 0;
  }
  .about .contianr .about-cap .information2 {
    display: block;
    padding: 0;
  }
  .about {
    margin: 0;
  }
  .services .contianr .items {
    width: 100%;
  }
  .portfolio .contianr .portfolio-img {
    width: 100%;
  }
  .info .contianr .items {
    width: 100%;
    margin-bottom: 20px;
  }
  .feedback .contianr .center .contant {
    float: none;
  }
  .feedback .contianr .center .contianr-img {
    float: none;
  }
  .feedback .contianr .center {
    width: 100%;
  }
  .blog .contianr .contianr-items {
    width: 100%;
  }
  .contact-us .contianr .form .name input {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-us .contianr .form .email input {
    width: 100%;
  }
}
@media screen and (max-width: 1124px) and (min-width: 768px) {
  .navbar-links {
    display: none;
  }
  .home {
    background-size: cover;
    background-position: center;
  }
  .home-cap {
    top: 40%;
    left: 30%;
  }
  .home h3 {
    font-size: 22px;
  }
  .home h1 {
    font-size: 38px;
  }
  .home h4 {
    font-size: 18px;
  }
  .home-cap h4 {
    text-align: center;
    width: 100%;
  }
  .list-bar {
    display: block;
  }
  .about .contianr .about-img {
    width: 100%;
    border: none;
  }
  .about .contianr .about-img img {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  .about .contianr .about-cap {
    width: 100%;
    padding: 0 20px;
  }
  .about .contianr .about-cap .information1 {
    display: block;
    padding: 0;
  }
  .about .contianr .about-cap .information2 {
    display: block;
    padding: 0;
  }
  .about {
    margin: 0;
  }
  .services .contianr .items {
    width: 100%;
  }
  .portfolio .contianr .portfolio-img {
    width: 100%;
  }
  .info .contianr .items {
    width: 100%;
    margin-bottom: 20px;
  }
  .feedback .contianr .center .contant {
    float: none;
  }
  .feedback .contianr .center .contianr-img {
    float: none;
  }
  .feedback .contianr .center {
    width: 100%;
  }
  .blog .contianr .contianr-items {
    width: 100%;
  }
  .blog .contianr {
    width: 100%;
  }
  .contact-us .contianr .form .name input {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-us .contianr .form .email input {
    width: 100%;
  }
  .contact-us .contianr .form {
    width: 100%;
    margin: 0 0;
  }
}
